<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="helpdesk_info.css">
  <title>About HelpDesk</title>
</head>
<body>
  <h1>Kristoffer's HelpDesk systems</h1>
  
  <h2>What we offer</h2>
  <p>
    We are a dedicated help desk company that is here to help you with all your technical needs and issues. We offer the following services:
  </p>
  <ul>
    <li>Support and guidance for technical problems</li>
    <li>Troubleshooting and problem solving for software and hardware</li>
    <li>Installation and configuration of software and networks</li>
    <li>Updates and upgrades of systems and devices</li>
    <li>Monitoring and maintenance of IT infrastructure</li>
  </ul>
  
  <h2>Our expert team</h2>
  <p>
    We have a skilled team of experienced technicians and support personnel who are ready to help you at any time. Our team is trained and certified in various technologies, and we are dedicated to providing you with the best customer service and solutions.
  </p>
  
  <h2>Contact Agent</h2>
  <p>
    If you need help or have any questions, please feel free to contact us. You can reach us at the following contact information:
  </p>
  <ul>
    <li>Telefon: 12345678</li>
    <li>E-post: helpdesk_kristoffer@example.com</li>
    <li>Adresse: Bodin vgs, NFK, Bodø</li>
  </ul>

  <div class="nav">
    <button><a href="home_site">Home</a></button>

    <script src="klient.js"></script>
</body>
</html>
