<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="send_case.css">
    <title>EJS</title>
</head>
<body>
    
    

    <h1>SEND CASE:</h1>
 


<div class="problem">

    <p>What problems do you encounter?</p>
    <form action="/case_description" method="post">
        <div class="input-field">
            <input type="text" name="problem" id="problem" placeholder="Enter problem">
        </div>
       
    </form>

</div>



<div class="priority">
    <p>Priority Level</p>
    <div class="input-field">
        <label for="green">
            <input type="radio" name="nivaa" id="green" value="Green">
            <span class="radio-custom"></span>
            <span class="green">Green</span>
        </label>
        <label for="yellow">
            <input type="radio" name="nivaa" id="yellow" value="Yellow">
            <span class="radio-custom"></span> 
            <span class="yellow">Yellow</span>
        </label>
        <label for="red">
            <input type="radio" name="nivaa" id="red" value="Red">
            <span class="radio-custom"></span> 
            <span class="red">Red</span>
        </label>
    </div>
</div>

   
    
<div class="info">
    <p>Your Information</p>
    <form action="/send_case" method="post">
      <div class="input-field">
          <input type="text" name="image" id="image" placeholder="Enter image">
      </div>
      <div class="input-field">
          <input type="date" name="timeframe" id="timeframe" placeholder="Enter timeframe">
      </div>
      <div class="input-field">
        <input type="text" name="category" id="category" placeholder="Enter category">
    </div>
      <input type="submit" value="Send Case">
    </form>

 </div>
   



 <button><a href="/cancel_case">Cancel Case</a></button>
 <button><a href="case_status">Status Case</a></button>
 <button><a href="home_site">Home</a></button>

</body>
</html>